@font-face {
  font-family: "Gotham Pro";
  src: url(fonts/Gotham-Pro/GothamPro\ Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Gotham Pro";
  src: url(fonts/Gotham-Pro/GothamPro-Medium.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Gotham Pro";
  src: url(fonts/Gotham-Pro/GothamPro-Bold.ttf);
  font-weight: 800;
}

* {
  font-family: "Gotham Pro", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 800;
  font-size: 2em;
  line-height: 1em;
  letter-spacing: -1px;
}

body {
  background-image: linear-gradient(
    to right,
    #e0e7ec,
    #b5d1ed,
    #5d97f1,
    #5b7ff3,
    #6c80f3,
    #737def,
    #5d489f
  );
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background-color: white;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
}

.container .left-side {
  position: relative;
  background-color: #5d4ee2;
  padding: 40px;
}

.profile {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.profile h1,
.profile p {
  color: white;
  margin-top: 20px;
  text-align: center;
}
.profile p {
  margin-top: 10px;
}

.profile .image {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profile .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-info {
  padding-top: 40px;
}

.contact-info ul li a {
  color: white;
}

.contact-info ul li a:hover {
  color: #ffc400;
}

.contact-info h3 {
  font-weight: 600;
  color: white;
  margin-bottom: 16px;
}

.contact-info ul li {
  position: relative;
  list-style: circle;
  color: white;
  padding-bottom: 8px;
  cursor: default;
  font-weight: normal;
}

.contact-info.education ul li {
  list-style: none;
  line-height: 1.5em;
  font-weight: normal;
}

.contact-info.education ul li p {
  color: #ffc400;
}

.contact-info.education p {
  font-size: 0.8em;
}

.contact-info.education ul li h4 {
  font-weight: 600;
}

.contact-info.lang ul li {
  list-style: none;
  margin-bottom: 8px;
}

.contact-info.lang .percent {
  position: relative;
  width: 100%;
  height: 6px;
  border-radius: 999px;
  background-color: #3f3000;
  display: block;
  margin-top: 5px;
}

.contact-info.lang .percent span {
  border-radius: 999px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #ffc400;
}

.container .right-side {
  position: relative;
  background-color: white;
  padding: 40px;
}

.right-side h2 {
  font-size: 1.33em;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-me p,
.about-me ul li {
  line-height: 1.5em;
}

.about-me ul li {
  list-style: circle;
}

.about-me .my-traits {
  margin-top: 10px;
}

.about-me .my-traits p {
  font-weight: 600;
}

.work-experience h2 {
  margin-top: 48px;
}
.work-experience ul li {
  list-style: circle;
  line-height: 1.5em;
}
.work-experience ul li a {
  color: black;
}
.work-experience ul li a:hover {
  color: #5d4ee2;
}
.skills h2 {
  margin-top: 48px;
  margin-bottom: 40px;
  font-weight: 600;
}
.skills .box {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
}
.skills .box .percent {
  border-radius: 999px;
  position: relative;
  width: 100%;
  height: 10px;
  background-color: rgb(228, 228, 228);
}

.skills .box .percent div {
  border-radius: 999px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #5d4ee2;
}
.skills p {
  line-height: 1.5em;
}
.skills .system {
  display: flex;
  justify-content: space-between;
}
